* {
  margin: 0px;
}

.post {
  background-color: black;
  width: 700px;
  margin: 50px auto 0px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-left: 20px solid red;
}

.post h2 {
  font-size: 40px;
  color: white;
  font-family: impact;
}

.post img {
  width: 400px;
}

.post p {
  color: yellow;
  font-family: candara;
  margin-top: 20px;
}

p {
  color: white;
  font-family: lobster;
  text-align: justify;
}
